<!DOCTYPE html>
<!--This is the linking of thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel: Room Reservation</title>
</head>
<body>
<h1>Welcome to the reservations Page</h1>

<table>
    <tr>
        <td>Room</td>
        <td>Room Number</td>
        <td>Guest</td>
    </tr>
<!--    placeholders & login -->

    <tr th:each="roomReservation: ${roomReservation}">
        <td th:text="${roomReservation.roomName}">Room Name</td>
        <td th:text="${roomReservation.roomNumber}">Room Number</td>
        <td th:text="${roomReservation.lastName} != null ? ${roomReservation.lastName} +
         ' ' + ${roomReservation.firstName} : 'Vacant'">Guest</td>
    </tr>
</table>
</body>
</html>